body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;

}
section {
    background: white;
    border-radius: 16px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(141, 42, 42);/*colocar sombreado*/
}
div {
    /*text-align: center; */
    padding: 8px;
}

select#flista {
    width: 150px;
}

footer {
    color: rgb(51, 41, 41);
    text-align: center;
    font-style: italic;

}